/* Write your code here. */

.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png');
  background-size: cover;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
}
.card {
  background-color: #cffafe;
  height: 70vh;
  width: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
